<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Change blog image</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container">
    <h1 class="page_title">Change Blog Image</h1>
    <div class="card">
<!--       <th:block th:value="${user}">-->
           <div style="width: 100%;">
               <img src="${blogImage}" th:src="${blogImage}" id="imgPicture"/>
           </div>
        <div class="">
            <form th:action="@{'/changeBlogImage/' + ${userId}}" th:method="post">
                <span>  <input hidden th:name="photoURL" id="photoURL" value=""></span>
                <span class="pull-left"> <input class="btn" type="BUTTON" value="Upload Picture"
                                                id="pickPhoto"></span>
                <span class="pull-right"> <button class="btn" id="confirm-picture">Save Picture</button></span>
            </form>
        </div>
<!--       </th:block>-->
    </div>
</div>
<!--FileStack Photo -->
<script>
    const client = filestack.init('ABY8V4s1ETM2L3jaW4V5ez');
    var watermarkHandle = '';

    const getUserId = () => {
        return new Promise((resolve) => {
            resolve({
                postId: $('userId').innerText
            })
        });
    };

    $('#pickPhoto').on('click', function () {
        // user id taken from external source ie: your database, Facebook etc.
        getUserId().then((response) => {
            const userId = response.userId;
            const apikey = 'ABY8V4s1ETM2L3jaW4V5ez';
            const client = filestack.init(apikey);
            const options = {
                uploadInBackground: false,
                onFileUploadFinished: (response) => {
                    var objJSON = (response);
                    //Sets the watermark handle to the handle of the first file in the result
                    watermarkHandle = objJSON['url'];
                    document.getElementById("photoURL").value = watermarkHandle;
                    document.getElementById("imgPicture").src = watermarkHandle;
                    // console.log(document.getElementById("photoURL").value);
                    return watermarkHandle;

                }
            };
            const picker = client.picker(options);
            picker.open();
        });
    });

</script>
</body>
</html>