<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Show posts</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>


<div class="container">
    <h1 class="page_title">Create a new Post</h1>
    <form class="form-group" th:action="@{/posts/create}" th:method="post" th:object="${post}" >
        <label for="title">Title</label>

        <input id="title" th:field="*{title}"/>
        <br>
        <label for="body">Body</label>
        <textarea id="body" th:field="*{body}"/>
        <br>
        <div>Categories</div>
        <div>
            <th:block th:each="category : ${categories}">
                <input type="checkbox" th:field="*{categories}" name="categories" th:value="${category.id}"/>
                <label th:text="${category.description}"></label>
            </th:block>
        </div>
        <input type="submit"/>
    </form>
</div>

</body>
</html>