<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Update posts</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>
<section class="container">
    <h1 class="page_title">Update Post</h1>
    <form th:action="@{'/posts/' + ${post.id} + '/update'}" th:method="post" th:object="${post}" class="form-group">
        <div class="container">
            <label>
                Title:
            </label>
            <br>
            <input th:field="*{title}" class="form-control"/>
            <div class="field" id="photo">
                <div>
                    <input type="hidden" id="filestackAPI" name="filestackAPI" th:value="${filestackAPI}"/>
                    <div class="file">
                        <label class="file-label">
                            <input id="picker" class="file-input" type="file" name="resume"/>
                            <input type="hidden" id="fileupload" name="file"/>
                            <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-camera-retro"></i>
                </span>
                <span class="file-label">
                  Upload a Photo
                </span>
                </span>
                        </label>
                    </div>
                    <div id="nameBox"></div>

                    <th:block th:replace="fragments/filestack"/>
                </div>
            </div>
            <div>
                Body:
            </div>
            <textarea th:field="*{body}" class="form-control"/>
            <div>
                <th:block th:each="category : ${categories}">
                    <input type="checkbox" th:field="*{categories}" name="categories" th:value="${category.id}"/>
                    <label th:text="${category.description}"></label>
                </th:block>
                <th:block th:each="category : ${newCategories}">
                    <input type="checkbox" th:field="*{categories}" name="newCategories" th:value="${category.id}"/>
                    <label th:text="${category.description}"></label>
                </th:block>
            </div>
            <input type="hidden" th:field="*{id}">
            <input class="btn btn-warning" type="submit" value="Update">
        </div>
    </form>
</section>

</body>
</html>