<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Update posts</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>
<section class="container">
    <div class="page-title">Update Post</div>
    <div class="container">

        <div class="card">
            <!--            <div id="imgPicture"-->
            <!--                 class="jumbotron  "-->
            <!--                 th:style="'background:url(' + ${post.getPicture_url()} + '); background-repeat: no-repeat; '">-->
            <!--            </div>-->
            <div class=" jumbotronImg">
                <img id="imgPicture"
                     src="${post.getPicture_url()} "
                     th:src="${post.getPicture_url()}" style="max-height: 200px;"/>
            </div>
            <form th:action="@{'/add-photo/' + ${post.id}}" th:method="post">
                <input hidden th:name="photoURL" id="photoURL" value="">

                <div class="d-flex justify-content-around">
                    <input class="btn btn-success" type="BUTTON" value="Upload Picture"
                           id="pickPhoto" style="margin-bottom: 1em;">
                    <button class="btn btn-warning" id="confirm-picture" style="margin-bottom: 1em;">Save Picture
                    </button>
                </div>

            </form>
        </div>
        <div class="card">
            <form th:action="@{'/posts/' + ${post.id} + '/update'}" th:method="post" th:object="${post}"
                  class="form-group">
                <div class="container">
                    <label>
                        Title:
                    </label>
                    <br>
                    <input th:field="*{title}" class="form-control"/>
                    <div>
                        Body:
                    </div>
                    <textarea th:field="*{body}" class="form-control"/>
                    <div>
                        <th:block th:each="category : ${categories}">
                            <input type="checkbox" th:field="*{categories}" name="categories"
                                   th:value="${category.id}"/>
                            <label th:text="${category.description}"></label>
                        </th:block>
                        <th:block th:each="category : ${newCategories}">
                            <input type="checkbox" th:field="*{categories}" name="newCategories"
                                   th:value="${category.id}"/>
                            <label th:text="${category.description}"></label>
                        </th:block>
                    </div>
                    <input type="hidden" th:field="*{id}" id="postId">
                    <input class="btn btn-warning" type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</section>
<!--FileStack Photo -->
<script>
    const client = filestack.init('ABY8V4s1ETM2L3jaW4V5ez');
    var watermarkHandle = '';

    const getPostId = () => {
        return new Promise((resolve) => {
            resolve({
                postId: $('postId').innerText
            })
        });
    };

    $('#pickPhoto').on('click', function () {
        // user id taken from external source ie: your database, Facebook etc.
        getPostId().then((response) => {
            const userId = response.userId;
            const apikey = 'ABY8V4s1ETM2L3jaW4V5ez';
            const client = filestack.init(apikey);
            const options = {
                uploadInBackground: false,
                onFileUploadFinished: (response) => {
                    var objJSON = (response);
                    //alert('response ' + response);
                    //console.log(response);
                    //Sets the watermark handle to the handle of the first file in the result
                    watermarkHandle = objJSON['url'];
                    console.log(objJSON['url']);
                    document.getElementById("photoURL").value = watermarkHandle;
                    // document.getElementById("imgPicture").src = watermarkHandle;
                    // var imageUrl =  watermarkHandle;
                    $("#imgPicture").css("background-image", "url(" + watermarkHandle + ")");
                    // console.log(document.getElementById("imgPicture").value);
                    return watermarkHandle;

                }
            };
            const picker = client.picker(options);
            picker.open();
        });
    });

</script>
</body>
</html>