<!DOCTYPE html>

<!--New -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav class="navbar navbar-nav navbar-toggleable-sm font-type nav-font-size navbar-expand-lg fixed-top pos-f-t"
     style="background-color: white"
     th:fragment="main-navbar">
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span style="color: gray"><i class="fas fa-bars fa-1x"></i></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" style="float: right" id="navbarSupportedContent1">
        <ul class="navbar-nav ml-auto">
            <li><a class="nav-link" href="/home">Home</a></li>

            <li><a class="nav-link" href="/featured">Featured Posts</a></li>

            <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/myPosts">My Posts</a></li>

            <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/posts/create">Create Post</a></li>

            <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/category/maintain">Maintain
                Categories</a></li>
            </li>
            <li sec:authorize="isAuthenticated()"><a class="nav-link" href="/changeImage">Blog Image</a></li>

            <li sec:authorize="isAnonymous()"><a class="nav-link" href="/register">Register</a></li>
            <li sec:authorize="isAnonymous()"><a class="nav-link" href="/login">Login</a></li>
            <li sec:authorize="isAuthenticated()">
                <form class="nav-link" th:action="@{/logout}" th:method="post">
                    <button style="background-color: white; border: 0px; margin-top: -.75em;" class="nav-link">
                        Logout
                    </button>
                </form>
            </li>

        </ul>
    </div>
</nav>


