<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<nav class="navbar" th:fragment="main-navbar">
    <ul>
        <li><a href="/home">Home</a></li>

        <li sec:authorize="isAuthenticated()"><a href="/posts/create">Create Post</a></li>
        <li><a href="/posts">Featured Posts</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/category/maintain">Categories</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/category/add">Create a new category</a></li>
        <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
        <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
    </ul>
</nav>