<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<nav th:fragment="main-navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="navbar-collapse collapse show" id="navbarResponsive" style="">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>

                <li sec:authorize="isAuthenticated()"><a href="/posts/create">Create Post</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/myPosts">View my Posts</a></li>

                <li><a href="/posts">Featured Posts</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/category/maintain">Categories</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/category/add">Create a new category</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/fileupload">Upload file</a></li>

                <li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
                <li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>
                </li>
            </ul>


            </li>

            </ul>
        </div>
    </div>
</nav>

