<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container">

    <h1 class="page_title">Log In</h1>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post"  class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" class="form-control"/>
        <br>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="form-control"/>
        <br>
        <input type="submit" value="Log In" class="btn btn-block btn-primary"/>
    </form>
</div>
</body>
</html>
