<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container">
    <h1 class="page_title">Update your posts</h1>
    <style type="text/css">
        .bg-cover {
            background-image: url('<?php echo $pageFeaturedImage; ?>');
        }
    </style>
    <header class="masthead" th:style="'background: url(' + |cid:${blog_img}| + ') no-repeat;'">
<!--        <img th:src="${blog_img}">-->
        <img src=" ${blog_img}" th:src=" ${blog_img}" >
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1 th:text="${blog_description}"></h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container">
        <div id="postList">
            <div th:each="post : ${posts}">
                <a th:href="@{'posts/' + ${post.id} + '/update'}">
                    <h1 class="section-heading" th:text="${post.title}"></h1>
                </a>
                <div th:text="${post.body}"></div>
                <div th:if="${post.getCategories().size() > 0}">
                    <h4 >Categories</h4>
                    <th:block th:each="category : ${post.categories}">
                        <div th:text="${category.description}"></div>
                    </th:block>
                </div>

                <div id="buttons">
                    <form th:action="'/posts/' + ${post.id} + '/update'" method="get">
                        <input class="btn btn-warning btn-sm" type="submit" value="Update">
                    </form>
                    <form th:action="'/posts/' + ${post.id} + '/delete'" method="post">
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>