body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*background-color: #eef2db;*/
    /*color: #A0522D;*/
    /*font-family: 'Source Code Pro', monospace;*/
}

h4 {
    margin-top: 1em;
}

/*h3{*/
/*    color:#dadfbc;*/
/*}*/
/*h3, h4, h5, h6*/
ul {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    list-style: none;

}

nav {
    font-size: 12px;
    font-weight: bolder;
}

li {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-right: 2em;
}

fieldset{
    border: 1px solid darkgray;
}

.btn-delete {
    width: 5em;
}

.card {
    display: flex;
    align-content: center;
    padding: .25em;
    margin: 1em;
    /*height: 400px;*/
    box-shadow: .2em .2em .2em .2em #888888;
}

/*.card-title {*/
/*    !*color: #3F3C3C;*!*/
/*    text-shadow: .1em .1em lightgrey;*/
/*}*/

/*.card-body{*/
/*    color: #a8a660;*/
/*}*/

.lightgreen {
    color: #dadfbc;
}

.orange {
    color: #e88e01;
}

.page-title {
    font-size: 2em;
    margin-top: 1em;
}
.section-title {
    font-size: 1.5em;
    margin-top: 1em;
}
.nav-link {

}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
}

#mainDiv {
    display: flex;
    flex-direction: column;
}

#postList {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    /*justify-content: space-around;*/
    overflow: auto;
}