<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Show posts</title>
    <th:block th:replace="fragments/header :: main-header"/>
    <style>
        #mainDiv {
            background: url(/img/folders.jpg) no-repeat center center fixed;
            max-width: 100%;
            background-color: white;
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: left top;
        }
    </style>
</head>
<div th:replace="fragments/navbar :: main-navbar"></div>
<body id="mainDiv" style="margin: auto">
<section class="container h-100 d-flex justify-content-center align-items-center">
    <div class="card" style="margin-top: 8em;">
        <div class="card inner-card ">
            <div class="page-title">Create a new Category</div>
            <form th:action="@{/category/add}" th:method="post" th:object="${category}">
                <div class="form-group">
                    <label for="description" class="form-control">Description: </label>
                    <input id="description" th:field="*{description}" placeholder="category description"
                              th:required="required" class="form-control" maxlength="255"/>
                    <br>
                    <input type="submit" value="Submit" class="btn btn btn-success form-control text-center"/>
                </div>
            </form>
        </div>
    </div>

</section>

</body>
</html>