<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Show posts</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>


<div class="container">
    <h1 class="page_title">Upload an image</h1>
    <form th:action="@{'/fileupload'}" th:method="POST" enctype="multipart/form-data">
        <label for="file">Upload a file!</label>
        <br>
        <input id="file" name="file" type="file"/>
        <br/>
        <input type="submit" value="upload"/>
    </form>
</div>

</body>
</html>