<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<style>
    #mainDiv {
        background: url(/img/kitchen.jpg) no-repeat center center fixed;
        /*width: 100%;*/
        /*background-size: cover;*/
        height: 100%;
        width: 100%;
    }
</style>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>

<div id="mainDiv" style="margin-top: 1em; height: 100vh;">
    <section class="container d-flex flex-column">
        <div class="main-header d-flex flex-column card" style="margin-top: 12em;">
            <h2 class="card-title mt-1 text-center" style="font-size: 24pt; ">The Kitchen Table</h2>
            <p style="font-size: 18pt">Create your Blog.
                Join the conversation today!</p>
            <div class="nav-item text-center">
                <a class="nav-link navlinktext text-center" href="/register"
                   style="background-color: #FF2D32; color: white; font-size: larger; border-radius: 15px; width: 20vw; margin-right: auto; margin-left: auto; margin-bottom: 1em">Sign
                    Up</a>
            </div>
        </div>
    </section>
</div>
</body>
</html>