<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>
<div th:replace="fragments/navbar :: main-navbar"></div>
<div class="container">
    <br>
        <form th:action="@{/sign-up}" method="POST" th:object="${user}" class="form-group">

            <h2 class="page_title" >Create an account</h2>
                    <label for="username">User name</label>
                    <input id="username" th:field="*{username}" class="form-control"/>
                <br>
                    <label for="details">Topic description</label>
                    <input id="details" th:field="*{blog_description}" class="form-control"/>
                <br>
                    <label for="blog_image">Blog Image</label>
                    <input id="blog_image" th:field="*{blog_image}" class="form-control"/>
                <br>
                    <label for="email">Email</label>
                    <input id="email" th:field="*{email}" class="form-control"/>
                <br>
                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}" class="form-control"/>
                <br>

            <input value="Sign me up!" type="submit" class="btn btn-block btn-primary"/>
        </form>

</div>
</body>
</html>